/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';


.feedBtn{
  border-bottom:2px solid $line;
}
.feedBtnActive{
  border-bottom:4px solid $success;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}