<div class="card text-center mx-5 mt-5 border-0">
  <img src="assets/profile.png" class="card-img-top w-50 mx-auto rounded-circle bg-secondary shadow" alt="...">
  <div class="card-body">
    <h3 class="card-title">{{user.username}}</h3>
  </div>
</div>
<div class="row text-center mx-2">
  <div class="col-6">
    <h2>{{user.followingCount}}</h2>
    <!-- <span><small>following</small></span> -->
  </div>
  <div class="col-6">
    <h2>{{user.followerCount}}</h2>
    <!-- <span><small>follower</small></span> -->
  </div>
</div>
<div class="btn-group mt-0 w-100 rounded-0">
  <button id="selectRegister" type="button" class="btn feedBtn rounded-0" >Following</button>
  <button id="selectLogin" type="button" class="btn feedBtnActive rounded-0" >Follower</button>
</div>
