<div class="card text-center mx-5 mt-5 border-0">
  <img src="assets/profile.png" class="card-img-top w-50 mx-auto rounded-circle bg-secondary shadow" alt="...">
  <div class="card-body">
    <h3 class="card-title">{{user.username}}</h3>
  </div>
</div>
<div class="row text-center mx-2">
  <div class="col-6">
    <h2>{{ followings?.length || '0' }}</h2>
    <!-- <span><small>following</small></span> -->
  </div>
  <div class="col-6">
    <h2>{{ followers?.length || '0' }}</h2>
    <!-- <span><small>follower</small></span> -->
  </div>
</div>
<div class="btn-group mt-0 w-100 rounded-0">
  <button (click)="changeFollow('Following')" id="selectRegister" type="button" [className]=" !showFollow ? 'btn feedBtnActive rounded-0' : 'btn feedBtn rounded-0'">Following</button>
  <button (click)="changeFollow('Follower')" id="selectLogin" type="button" [className]=" showFollow ? 'btn feedBtnActive rounded-0' : 'btn feedBtn rounded-0'" >Follower</button>
</div>


<div>
  <table class="table" *ngIf="showFollow">
    <tbody>
      <tr *ngFor="let follower of followers">
        <td scope="row px-2">{{follower.username}}</td>
      </tr>
    </tbody>
  </table>
  <table class="table" *ngIf="!showFollow">
    <tbody>
      <tr *ngFor="let following of followings">
        <td scope="row px-2">{{following.username}}</td>
      </tr>
    </tbody>
  </table>
</div>
