<div class="card text-center mx-5 mt-5 border-0">
  <img src="assets/profile.png" class="card-img-top w-50 mx-auto rounded-circle bg-secondary shadow" alt="...">
  <div class="card-body">
    <h3 class="card-title"><!-- {{user.username}} -->User</h3>
  </div>
</div>
<div class="row text-center mx-2">
  <div class="col-4">
    <h2>17</h2>
    <span><small>posts</small></span>
  </div>
  <div class="col-4">
    <h2>17</h2>
    <span><small>following</small></span>
  </div>
  <div class="col-4">
    <h2>17</h2>
    <span><small>follower</small></span>
  </div>
</div>
<div class="btn-group mt-3 w-100 rounded-0">
  <button id="selectLogin" type="button" class="btn feedBtnActive rounded-0" >Follower</button>
  <button id="selectRegister" type="button" class="btn feedBtn rounded-0" >Following</button>
  
</div>
