<div *ngIf="post != null" class="card text-left rounded-lg shadow mb-3">
  <div class="card-header media">   
    <!-- <img src="" class="align-self-end mr-3" alt="Profil"> -->
    <div class="media-body">
      <span class="mt-0 font-weight-bold">{{post.username}}</span>
      <button *ngIf="post.userKey != userKey" (click)="follow(post.userKey)" type="button"  class="btn btn-outline-primary btn-sm ml-2"> Follow </button>
    </div>
  </div>
  <img class="card-img-top" src="holder.js/100px180/" alt="">
  <div class="card-body">
    
    <h4 class="card-title">{{post.title}} <!-- {{post.id}} --></h4>
    <p class="card-text">{{post.content}}</p>
    <p class="card-text float-right"><small class="text-muted">created at 07.02.2020</small></p>
  </div>
  <div class="card-footer py-0">
    <div class="btn-group pt-1 rounded-0">
      <button id="like" type="button" class="btn" (click)="like(post.id)"><h5><i class="far fa-smile"></i> <span class="badge badge-light">{{post.likeCount}}</span></h5></button>
      <button id="dislike" type="button" class="btn "><h5><i class="fas fa-poo"></i><span class="badge badge-light">4</span></h5></button>
    </div>
  </div>
</div>
